.features-icons {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  .features-icons-item {
    .features-icons-icon {
      height: 7rem;
      i {
        font-size: 4.5rem;
      }
    }
    img {
      border-radius: 50%;
      height: 16rem;
      width: 16rem;
    }
    a {
      border: none;
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}
